{% extends "main.html" %}
{% block content %}
{% include "header.html" %}

<div>
<main>    
  <!-- Display flash message --> 
  <section class="section--center mdl-grid mdl-grid--no-spacing">   
    <div id="flashmessage" class="flash">
      {% with messages = get_flashed_messages() %}
      {% if messages %}
      <ul>
        {% for message in messages %}
        <li> <strong> {{ message }} </strong> </li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endwith %}
      <!-- Timeout flash message -->
      <script>$('#flashmessage').fadeOut(3000);</script>
    </div>
  </section>

  <section>
    <header>   
      <div class="container">
        <div class="row">
          <h3>FORM</h3>
        </div>
        {% for form in forms %}
        <div class="row">
          <h4>{{form}}</h4>
        </div>
        {% endfor %}
      </div>     
    </header>
  </section>
  <div class="col">
    <input type="submit" name="download" value="Download" class="btn btn-danger">
    <input type="submit" name="watch" value="Watch" class="btn btn-primary">
  </div>
</main>
</div>


{% endblock %}